@import '../../base/pages/authentication.scss';

.auth-wrapper .auth-footer-btn .btn {
  padding: 0.555rem 0.6rem !important;
}

/* .microsoft-button {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #0078d4;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.logo {
  margin-right: 10px;
  /* You can set styles for the logo */
//}

